---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

header, main, footer {
  margin: 20px 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }

  a:link {
    color: #58a6ff;
  }

  a:visited {
    color: #8e96f0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}
